<table mat-table [dataSource]="usersList" class="mat-elevation-z8 table-user" >

  <caption>List of Users</caption>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>


  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>firstName</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>


  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>lastName</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>


  <ng-container matColumnDef="is_admin">
    <th mat-header-cell *matHeaderCellDef>is_admin</th>
    <td mat-cell *matCellDef="let element">{{ element.is_admin }}</td>
  </ng-container>


  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete User</th>
    <mat-cell *matCellDef="let row" class="flex ">
      <button mat-raised-button color="primary" class="centered-icon-button" (click)="deleteUser(row.id)">
        <mat-icon fontIcon="delete" class="icons"></mat-icon></button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>

<div>
  <h3>
    Click Log
  </h3>
</div>

