.flex {
  display: flex;
  flex-direction: column;
}

.vertical{
   align-items: center;
}

.row {
  flex-direction: row;
}


.gap-8 {
  column-gap: 8px;
  row-gap: 8px;
}

.gap-16 {
  column-gap: 16px;
  row-gap: 16px;
}

.icons{
 font-size: 24px;
}
